/*color {*/
/*    eggshell: #f4f1de;*/
/*    middle-red: #e28065;*/
/*    independence: #494e6e;*/
/*    green-sheen: #81b29a;*/
/*    deep-champagne: #f2cc8f;*/
/*}*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Oswald, sans-serif;
    text-align: center;
    margin: 0;
    top: 0;
    background-color: #ffffff;
}

.nav-header {
    margin: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    transition: all 1s;
    height: 120px;
}

.nav-item {
    display: inline;

}


#page_logo {
    width: 300px;
    height: 150px;
    object-fit: cover;
    float: left;
    object-position: 50% 100%;
}

.nav-header ul {
    margin: 50px auto 30px auto;
    text-align: right;
}

.nav-header ul li {
    font-size: 18px;
    padding: 20px 20px 0 20px;
    letter-spacing: 3px;

}

.nav-header ul li a {
    text-decoration: none;
    color: #f4f1de;
    transition: 0.3s;
}

.nav-header ul li a:hover {
    color: #e28065
}

#contact {
    padding-right: 480px;
}

.head_container {
    top: 0;
}

#head_image {
    width: 100%;
    height: 780px;
    object-fit: cover;
    object-position: 0 0;

}

.head_text_container {
    position: absolute;
    top: 250px;
    left: 350px;
    color: #f2cc8f;
}

.head_text_container h1 {
    font-size: 48px;
    letter-spacing: 10px;
    line-height: 65px;
}

.head_text_container h4 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 24px;
    font-weight: 60;
    line-height: 40px;
}

/*Author: Kocsten*/
#scroll_down_button {
    width: 200px;
    height: 50px;
    border: 1px solid;
    color: #f4f1de;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    animation-name: gradually;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

#scroll_down_button a {
    text-decoration: none;
    color: #f4f1de;
    transition: all 2s;
}

#scroll_down_button a:visited {
    color: #f4f1de;
}

@keyframes gradually {

    0% {
        border-color: #a01a1a;
    }
    10% {
        border-color: #892b46;
    }
    20% {
        border-color: #723c47;
    }
    30% {
        border-color: #7d4d62;
    }
    40% {
        border-color: #455E89;
    }
    50% {
        border-color: #2E6F95;
    }
    60% {
        border-color: #455E89;
    }
    70% {
        border-color: #7d4d62;
    }
    80% {
        border-color: #892b46;
    }
    100% {
        border-color: #a01a1a;
    }
}

/*.loop_image {*/
/*    background-image: url("looping_logo.png");*/
/*    background-repeat: repeat-x;*/
/*    height: 70px;*/
/*    animation: looping 45s linear infinite;*/
/*    background-size: cover;*/
/*    width: 100%;*/
/*}*/

@keyframes looping {
    0% {
        background-position: 100vw 0;
    }
    100% {
        background-position: 0 0;
    }
}


.main_container {
    /*background-color: #ebebeb;*/
    margin: 100px 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 20%;
    height: 500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}


.movie_box {
    display: flex;
    flex-flow: column;
    justify-content: space-around;

}


.movie_front img {
    margin: 0 0 0 0;
    width: 100%;
    height: 500px;
    Object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
    display: block;
    transition: .2s;
}


.movie_back {
    border-radius: 10px;
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 100%;
    height: 500px;
    transition: .4s ease;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.box:hover .movie_back {
    opacity: 1;

}

.movie_title {
    font-size: 22px;
    margin: 50px 20px 10px 0;
    padding: 0 20px 0 30px;
    letter-spacing: 1px;
    width: 80%;
    text-align: left;
}

.movie_button {
    margin: 20px 0 60px 40px;
    width: 32%;
    height: 7%;
    color: #f4f1de;
    border: none;
    cursor: pointer;
    background: #00b4d8;
    transition: .3s ease;
    font-size: 14px;
    border-radius: 3px;

}

.movie_button a {
    text-decoration: none;
    color: #f4f1de;
}

.movie_button a:visited {
    color: #f4f1de;
}


.movie_button:hover {
    background: #0096c7;
    border: none;

}


footer {
    margin-top: 80px;
    background-image: url("background.gif");
    width: 100%;
    height: 400px;
    /* if use footer image looping
    height: 500px
    */
    display: flex;
    flex-direction: column;
}

#footer_container {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: #ffffff;
}

.footer-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #d9cfb8;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.icons a {
    width: 5%;
    margin: auto 5px;
}


.footer-icon {
    width: 100%;
    opacity: .7;
}

.footer-logo {
    width: 55%;

}

.attribute {

    font-size: 14px;
}

.footer-heading {
    font-size: 20px;
    font-weight: 400;
    margin-top: 70px;
    color: #f2cc8f;
    opacity: .3;
}


.footer-paragraph {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
    line-height: 40px;
    font-size: 18px;
}

.contact-info {
    line-height: 15px;
    font-size: 18px;
    margin-top: 20px;
}

.attribute a {
    text-decoration: none;
    color: #d9cfb8;
}

.attribute a:hover {
    color: #892b46;
}

